{% extends 'meta.html' %}

{% block content %}
{% load util %}
<h1> League of legend KR server status </h1>

<ul>
{% for key, value in statusDict.items %}
    {% if key != "maintenances" %}
    <li> {{key}} - {{value}} </li>
    {% else %}
    <li>
        {{key}}
    </li>
        <ul>
        {% for data in value %}
            {% for key2, value2 in data.items %}

                <li>
                    {{key2}} - {{value2}}
                </li>

            {% endfor %}


        {% endfor %}
        </ul>
    
    {% endif %}

{% endfor %}
</ul>

{% endblock %}