{% load static %}

<!DOCTYPE html>
<html lang = "KR">
    <head>
        <meta charset="UTF-8">
        <meta http-euqiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'league/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <title>
            lol.gg
        </title>
    </head>
    <body>
        <div class="container">
            <p class="meta">Mylovebaby's own league of legend page</p>
            <div class="navigation">
                <ul>
                    <li>
                        <a href="http://127.0.0.1:8000/test/api">api status</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/dragon/champs">champion list</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/summoner/">summoner inquery</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    
        {% block content%}



        {% endblock %}
        <script src="{% static 'api/app.js' %}"></script>
    </body>
</html>