{% include 'enquiry.html' %}

{% block search %}
<h1> summoner "{{summoner}}" data </h1>

<ul>
{% for key, value in summonerDict.items %}

    <li>
        {{key}} - {{value}}
    </li>
    

</ul>
{% endfor %}
<div>
    <h5>
        total {{masteryLen}} results
    </h5>
</div>

<div class="masteryStat">
    <ul>
        {% for value in masteryStat %}
        <li>
            {{value}}   
        </li>
        {% endfor %}
    </ul>

    <ul>
        {% for value in masteryAvg %}
        <li>
            {{value}}   
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <ul>
        {% for value in masteryList %}
        <li>
            {{value.championId}}, {{value.championLevel}}, {{value.championPoints}}, {{value.tokensEarned}}
        </li>
        {% endfor %}
    </ul>
</div>



<style>
    .masteryStat {
        display: flex;
        justify-content: left;
    }
    .masteryStat ul {
        float:left; 
        text-align:center;
    }
    .masteryStat ul li{
        list-style: none; 
        display:inline-block; 
        text-align:center;
        margin-right: 20px;
    }
</style>

{% endblock %}

